[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AdvDif4"]
	path = AdvDif4
	url = https://github.com/cran/AdvDif4
[submodule "gripp"]
	path = gripp
	url = https://github.com/cran/gripp
